* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(179, 174, 167);
  color: #0a0a0a;
  /* min-height: 2000px; */
}
